.logo {
  height: 1.875rem;
}
.navbar-dark .navbar-toggler {
  color: white !important;
  border-color: transparent !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-weight: 300;
  letter-spacing: 0.125rem !important;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  text-transform: capitalize !important;
  &:hover {
    background-color: #0abde3;
  }
}

.menuopen,
.menuclose {
  height: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(289deg)
    brightness(108%) contrast(105%);
}
