#skills {
  padding-top: 5rem;
}

// Skill card CSS
.skill-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  grid-gap: 1.25rem;
}
.skill-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.skill-logo {
  height: 3.125rem;
}
.skill-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
