#services {
  padding-top: 5rem;
}

.site-head {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1875rem;
}
.site-para {
  text-transform: capitalize;
  text-align: center;
}

