.site-head {
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.site-para {
  text-transform: capitalize;
  text-align: center;
}
