.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../../../assets/header/Sprinkle.svg");
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 770px) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  @media (max-width: 600px) {
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
  }
  &__heading {
    font-size: 30px;
    text-transform: capitalize;
    color: white;

    @media (max-width: 480px) {
      font-size: 25px;
    }
    @media (max-width: 360px) {
      font-size: 23px;
    }
  }

  &__btn-all {
    display: flex;
    margin-top: 20px;
    @media (max-width: 320px) {
      flex-direction: column;
    }
  }
  &__btn-1,
  &__btn-2 {
    font-weight: 500;
    padding: 10px 30px;
    &:not(:last-child) {
      margin-right: 20px;
      @media (max-width: 320px) {
        margin-right: 0;
      }
    }
  }
}

.typed {
  font-size: 25px;
  color: white;
  @media (max-width: 320px) {
    font-size: 20px;
  }
}

.profile-picture {
  width: 140px;
  height: 140px;
  border-radius: 80px;
  border: 6px solid white;
}
